* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1A191B;
  color: var(--white);
  font-size: 1rem;
  font-family: "Nunito Sans", sans-serif;
  overflow-x: hidden;
}

:root {
  --white: #fff;
  --very-light-gray: #E7E7E7;
  --white-opacity70: rgba(255, 255, 255, .7);
  --black: #000;
  --very-black-blue: #1E1E20;
  --very-black-blue2: #121213;
  --very-black: #19191B;
  --very-black-opacity50: rgba(30, 30, 32, .5);
  --black-cyan: #292D32;
  --light-purple: #5454D4;
  --light-red: #F04037;
  --very-light-yellow: #FEDC5A;
}

.container {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .container {
    width: 92%;
  }
}
a {
  text-decoration: none;
}

i,
button {
  cursor: pointer;
}

button,
input {
  outline: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*        header       */
header {
  padding: 28px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-holder {
  display: flex;
  align-items: center;
  gap: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}

.logo-holder img {
  width: 26px;
}

.logo-holder span {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 140%;
  transition: color 0.2s;
}
.logo-holder span:hover {
  color: var(--very-light-gray);
}

@media (max-width: 768px) {
  header nav {
    display: none;
  }
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 26.5px;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  color: var(--white-opacity70);
  text-align: right;
  font-family: "Nunito Sans";
  font-size: 0.8rem;
  font-weight: 600;
  transition: color 0.2s;
}
header nav ul li a.active, header nav ul li a:hover {
  color: var(--light-purple);
}

.contact-button {
  font-family: "Nunito Sans";
  font-size: 10.619px;
  font-weight: 400;
  color: var(--white);
  background-color: transparent;
  padding: 6px 24px;
  border-radius: 3.5px;
  border: 0.66px solid #FFF;
  -webkit-backdrop-filter: blur(0.66px);
          backdrop-filter: blur(0.66px);
  letter-spacing: -0.3px;
  position: relative;
  transition: color 0.3s 0.2s, background-color 0.3s;
}
.contact-button:hover {
  color: var(--very-light-yellow);
  background-color: rgba(255, 255, 255, 0.1);
}
.contact-button:active {
  transform: scale(0.996);
}

@media (max-width: 768px) {
  .contact-button {
    display: none;
  }
}
.mobile-nav {
  display: none;
}

@media (max-width: 768px) {
  .mobile-nav {
    display: block;
  }
}
.mobile-nav .mobile-nav-button {
  background-color: transparent;
  border: none;
  outline: none;
  transition: opacity 0.2s;
}
.mobile-nav .mobile-nav-button:hover {
  opacity: 0.7;
}
.mobile-nav .mobile-nav-button img {
  width: 24px;
}

/*        hero       */
.hero-section {
  margin: 70px 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .hero-section {
    flex-direction: column;
    gap: 92px;
    margin: 60px 0;
  }
}
.hero-section .left-light {
  position: absolute;
  left: 0;
  top: -300px;
  width: 310px;
  height: 1150px;
  background-image: linear-gradient(180deg, rgba(84, 84, 212, 0.27) 0%, rgba(84, 84, 212, 0.11) 100%);
  transform: rotate(-54deg);
  border-radius: 155px;
  filter: blur(99.5px);
  z-index: -1;
}

.hero-section .right-light {
  position: absolute;
  right: 0;
  top: 0;
  width: 310px;
  height: 1150px;
  background-image: linear-gradient(180deg, rgba(251, 168, 28, 0.11) 0%, rgba(224, 86, 136, 0.06) 100%);
  transform: rotate(65.5deg);
  border-radius: 155px;
  filter: blur(99.5px);
  z-index: -1;
}

.introduction-container h1 {
  color: var(--white);
  font-family: "Graphik Trial";
  font-size: 3.32rem;
  font-weight: 700;
  line-height: 55px;
  width: 386px;
}

@media (max-width: 768px) {
  .introduction-container h1 {
    font-size: 2.625rem;
    width: 333px;
  }
}
.introduction-container p {
  color: var(--white-opacity70);
  font-family: "Nunito Sans";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.45px;
  width: 356px;
  margin: 15px 0 32px;
}

@media (max-width: 768px) {
  .introduction-container p {
    font-size: 1rem;
    margin: 30px 0 50px;
    width: 333px;
  }
}
.introduction-container button {
  border: none;
  display: flex;
  align-items: center;
  background-color: var(--light-purple);
  color: var(--white);
  border-radius: 3px;
  font-family: "Nunito Sans";
  font-size: 0.83rem;
  font-weight: 700;
  padding: 11px 17px;
}

.introduction-container button span {
  display: block;
}

.introduction-container button img {
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

.guy-image-container {
  width: 370px;
  height: 470px;
  position: relative;
}

@media (max-width: 992px) {
  .guy-image-container {
    transform: scale(0.8);
  }
}
.guy-image-container .shape {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
}

.guy-image-container .vector {
  width: 63px;
  height: 18px;
  left: -90px;
  top: 40px;
}

@media (max-width: 768px) {
  .guy-image-container .vector {
    left: 0;
    top: 40px;
  }
}
.guy-image-container .circles {
  width: 34px;
  height: 40px;
  right: 0;
  top: 0;
}

@media (max-width: 768px) {
  .guy-image-container .circles {
    right: 30px;
    top: 20px;
  }
}
.guy-image-container .triangle {
  width: 69px;
  height: 80px;
  left: -110px;
  bottom: 30px;
}

@media (max-width: 768px) {
  .guy-image-container .triangle {
    left: 20px;
    bottom: -30px;
  }
}
.guy-image-container .plus-sign {
  width: 33px;
  height: 33px;
  right: 0;
  bottom: 50px;
}

.guy-image-container .background-square-frame {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 15px;
  border: solid 2px var(--white);
  transform: rotate(23.5deg);
  margin-top: 100px;
  top: 24px;
  left: 52px;
}

.guy-image-container::before {
  content: "";
  position: absolute;
  transform: rotate(23.5deg);
  width: 245px;
  height: 245.5px;
  border-radius: 15px;
  border: solid 3px transparent;
  border-color: transparent var(--white) var(--white) transparent;
  margin-top: 100px;
  top: 63.3px;
  left: 69px;
  z-index: 1;
}

.invisible-holder {
  transform: rotate(23.5deg);
  overflow: hidden;
  width: 350px;
  height: 397px;
}

.invisible-holder .square-frame {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  background-image: linear-gradient(to bottom, #5454D4, #5e5ee7);
  border: solid 3px var(--white);
  margin-top: 100px;
  position: relative;
  top: 48px;
  left: 103px;
}

.invisible-holder .square-frame img {
  transform: rotate(-23.5deg);
  width: 350px;
  height: 433px;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  top: -148px;
  left: -75px;
}

/*        why us        */
.why-us-section {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 100px;
}

@media (max-width: 768px) {
  .why-us-section {
    width: 100%;
  }
}
.why-us-section .content {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 33px;
}

@media (max-width: 810px) {
  .why-us-section .content {
    flex-direction: column;
    align-items: flex-start;
  }
}
.why-us-section .content h2 {
  color: var(--white);
  font-family: "Graphik Trial";
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 46.5px;
  width: 390px;
}

@media (max-width: 992px) {
  .why-us-section .content h2 {
    width: 330px;
    font-size: 2rem;
  }
}
@media (max-width: 810px) {
  .why-us-section .content h2 {
    width: 327px;
    font-size: 2.25rem;
    line-height: 150%;
  }
}
.why-us-section .content p {
  color: var(--white-opacity70);
  font-family: "Nunito Sans";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.5px;
  width: 390px;
}

@media (max-width: 992px) {
  .why-us-section .content p {
    width: 210px;
  }
}
@media (max-width: 810px) {
  .why-us-section .content p {
    font-size: 1rem;
    line-height: 150%;
    width: 327px;
  }
}
.why-us-section .img-holder {
  width: 796px;
  height: 444px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 992px) {
  .why-us-section .img-holder {
    width: 550px;
    height: 340px;
  }
}
@media (max-width: 810px) {
  .why-us-section .img-holder {
    width: 430px;
    height: 270px;
  }
}
@media (max-width: 768px) {
  .why-us-section .img-holder {
    width: 100%;
    height: 330px;
  }
}
.why-us-section .img-holder > img {
  position: absolute;
  left: 0;
  top: 0;
}

.why-us-section .img-holder .state-holder {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 74px;
  cursor: pointer;
}

@media (max-width: 992px) {
  .why-us-section .img-holder .state-holder {
    width: 60px;
  }
}
/*        portfolio        */
.templates-section {
  width: 100%;
  position: relative;
}

.templates-section .heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.templates-section .heading p {
  color: var(--white);
  font-family: Nunito Sans;
  font-size: 38.494px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;
}

.templates-section .heading img {
  width: 41px;
  transform: rotate(-27.371deg) translateY(30px);
}

.templates-section .templates {
  width: 100%;
  display: flex;
  padding-bottom: 40px;
  justify-content: space-between;
}

.templates-section .templates img {
  width: 223px;
  border-radius: 7.964px;
}
.templates-section .templates img:nth-child(2) {
  margin-top: 40px;
}
.templates-section .templates img:nth-child(3) {
  margin-top: 80px;
}

.templates-section .shape {
  width: 63.051px;
  height: 18.583px;
  left: 0;
  position: absolute;
  bottom: 0;
}

.templates-section i.dot {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  width: 15px;
  height: 5px;
  background-color: var(--light-purple);
  border-radius: 5px;
}

/*        contact       */
.contact-section {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 50px;
}

.contact-section .double-circle-icon {
  width: 33.848px;
  height: 39.821px;
  margin-top: 40px;
  margin-left: 30px;
}

.contact-section .add {
  margin-bottom: 50px;
  width: 27.875px;
  height: 27.875px;
  margin-left: auto;
  display: block;
}

.contact-section .text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-section .text p {
  font-family: Nunito Sans;
  font-size: 39.821px;
  font-weight: 700;
  width: 548.208px;
  color: var(--white);
}

.contact-section .text button {
  width: 133.402px;
  height: 39.821px;
  color: var(--white);
  text-align: center;
  font-family: Nunito Sans;
  font-size: 13.937px;
  text-transform: capitalize;
  font-weight: 700;
  background-color: var(--light-purple);
  border-radius: 3.318px;
  outline: none;
  border: none;
}

/*        footer       */
footer {
  width: 100%;
  display: flex;
  align-items: center;
}
footer > * {
  margin-top: 20px;
  margin-bottom: 40px;
}

footer .other {
  display: inline-flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

footer .other p {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-family: Nunito Sans;
  font-size: 11.946px;
  font-weight: 400;
}

footer .copy-rights {
  margin-left: 64px;
  display: inline-block;
  width: 189.152px;
  color: rgba(255, 255, 255, 0.7);
  text-align: right;
  font-family: Nunito Sans;
  font-size: 10.619px;
  font-weight: 400;
  line-height: 25.22px;
  letter-spacing: -0.332px;
}/*# sourceMappingURL=styles.css.map */